[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dependencies/raylib-cpp"]
	path = Dependencies/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp.git
